.venv

*.log
*.env
*.db
*.sqlite3
*.jsonl
*.txt

run.sh
setting.json


logs/
__pycache__/
**/__pycache__/

/data/**
!/data/mongodb/
!/data/mongodb/backup.sh

cmds/data.json/
cmds/ai_chat/temp/
assets/fonts/